<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Books</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>


</head>
<body>
    {% include '_top_bar.html' %}
    <main> 
        <section class="container">
                <h1>Browse Books</h1>
                <div class="browse-buttons">
                    <button class="md-btn" onclick="location.href='{% url 'browse' 'popularity' %}'">Browse by Popularity</button>
                    <button class="md-btn" onclick="location.href='{% url 'browse' 'author' %}'">Browse by Author</button>
                    <button class="md-btn" onclick="location.href='{% url 'browse' 'genre' %}'">Browse by Genre</button>
                </div>
            <section>
                {% if sort_by == 'popularity' %}
                    <h2>Top Ranked Books</h2>
                    <div class="grid-container" id="book-list">
                        {% for book in books %}
                            {% include '_book_card.html' %}
                        {% endfor %}
                        </div>
                {% elif sort_by == 'author' %}
                    {% for author in authors %}
                    <section class="container">
                        <h2>{{ author.name }}</h2>
                        <div class="grid-container" id="book-list">
                            {% for book in author.books.all %}
                                {% include '_book_card.html' %}
                            {% endfor %}
                        </div>
                    </section>
                    {% endfor %}
                {% elif sort_by == 'genre' %}
                    {% for genre in genres %}
                    <section class="container">
                        <h2>{{ genre.name }}</h2>
                        <div class="grid-container" id="book-list">
                            {% for book in genre.books.all %}
                                {% include '_book_card.html' %}
                            {% endfor %}
                        </div>
                    </section>
                    {% endfor %}
                {% endif %}
            </section>
        </section>
    </main>
</body>
</html>